services:
  - type: web
    name: fastapi-backend
    env: python
    plan: free
    region: ohio
    
    # IMPORTANTE: Clear cache en cada build
    buildCommand: |
      pip install --upgrade pip
      pip uninstall psycopg2 psycopg2-binary -y
      pip install -r requirements.txt --no-cache-dir
    
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT